.parent {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 1em auto;
    padding: 1em 0;
    border-bottom: 1px solid gray;
}
.logo, .search {
    margin: 0 auto;
    padding: 1em;
}

.logo h3 {
    margin: 0 auto;
}