.parent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 1em auto;
    padding: 1em 0;
    border-bottom: 1px solid gray;
    box-shadow: 14px 9px 19px -14px;
    border-radius: 10px;
}
.logo, .search {
    margin: auto;
}

.search {
   margin: 0 auto;
}